<%- include('../../partials/head.ejs') %> 

    <div class="container my_container">
        <div class="jumbotron">
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, officiis?</h1>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime blanditiis possimus dignissimos sequi molestiae? Ducimus sit labore harum voluptates ea?</p>
        </div>
    </div>


<%- include('../../partials/footer.ejs') %> 


</body>
</html>