<%- include('../../partials/head.ejs') %>

<div class="container my_container my-5">
    <h1 class="dispaly-1 text-center">Welcome To My Dashboard</h1>
</div>


<%- include('../../partials/footer.ejs') %>

</body>

</html>